@media print {
	html, body, div {
		display: none;
	}
}

@font-face {
	font-family: Roboto-Light;
	src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto-Regular;
	src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-Medium;
	src: url('assets/fonts/Roboto-Medium.ttf');
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	display: block;
	cursor: auto;
}

body {
	background-image: url('assets/images/background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-collapse: collapse;
	margin: 25px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.exercise-caution {
	display: grid;
	place-items: center;
	height: 90vh;
}

.exercise-caution-wrapper {
	max-width: 75vw;
	min-width: fit-content;
	height: fit-content;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(80, 80, 80);
	background-color: white;
}

.exercise-caution-wrapper-margin {
	margin: 30px;
}

.exercise-caution-wrapper-margin-title {
	text-align: center;
	font-family: Roboto-Medium;
	letter-spacing: 2px;
}

.exercise-caution-wrapper-margin-content {
	font-family: Roboto-Regular;
	letter-spacing: 0.5px;
	text-align: justify;
}

.exercise-caution-wrapper-margin-script {
	display: flex;
	justify-content: left;
}

.exercise-caution-wrapper-margin-script-load {
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	width: 30px;
}

.exercise-caution-wrapper-margin-script-load img {
	height: 100%;
	width: 100%;
}

.exercise-caution-wrapper-margin-script-text {
	margin-left: 10px;
	font-family: Roboto-Regular;
	letter-spacing: 0.5px;
	text-align: left;
	vertical-align: center;
}

.exercise-caution-wrapper-margin-hr-bottom {
	display: none;
}

.exercise-caution-wrapper-margin-button {
	display: none;
	justify-content: center;
	align-items: center;
}

.exercise-caution-wrapper-margin-button-clickable {
	background:#e60012;
	box-shadow: 0 4px 6px rgba(0,0,0,.2);
	border-radius: 20px;
	transition: 0.3s;
	border: none;
	color: white;
	font-family: Roboto-Regular;
	font-size: 17px;
	text-align: center;
	padding: 10px 25px;
	cursor: pointer;
	transition-duration: 0.5s;
	transition-delay: 0s;
	transition-property: all;
}

.exercise-caution-wrapper-margin-button-clickable:hover {
	background:#020202;
}

@media only screen and (min-width: 0px) and (max-width: 350px) {

	.exercise-main {
		display: none;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}

	.exercise-main-textbox {
		width: 90vw;
		height: fit-content;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-textbox p {
		font-family: Roboto-Regular;
		letter-spacing: 0.5px;
		text-align: center;
	}

	.exercise-main-iframe {
		display: none;
		place-items: center;
		width: 376px;
		height: 1146px;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-iframe-box {
		width: 376px;
		height: 1121px;
	}
	
	.exercise-main-iframe-box iframe {
		width: 375px;
		height: 1120px;
	}

}

@media only screen and (min-width: 351px) and (max-width: 400px) {

	.exercise-main {
		display: none;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
	
	.exercise-main-textbox {
		display: none;
		width: 90vw;
		height: fit-content;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-textbox p {
		font-family: Roboto-Regular;
		letter-spacing: 0.5px;
		text-align: center;
	}
	
	.exercise-main-iframe {
		display: grid;
		place-items: center;
		width: 331px;
		height: 1221px;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-iframe-box {
		width: 331px;
		height: 1195px;
	}
	
	.exercise-main-iframe-box iframe {
		width: 330px;
		height: 1195px;
	}

}

@media only screen and (min-width: 401px) and (max-width: 550px) {

	.exercise-main {
		display: none;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
	
	.exercise-main-textbox {
		display: none;
		width: 90vw;
		height: fit-content;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-textbox p {
		font-family: Roboto-Regular;
		letter-spacing: 0.5px;
		text-align: center;
	}
	
	.exercise-main-iframe {
		display: grid;
		place-items: center;
		width: 376px;
		height: 1146px;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-iframe-box {
		width: 376px;
		height: 1121px;
	}
	
	.exercise-main-iframe-box iframe {
		width: 375px;
		height: 1120px;
	}

}

@media only screen and (min-width: 551px) and (max-width: 800px) {

	.exercise-main {
		display: none;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
	
	.exercise-main-textbox {
		display: none;
		width: 90vw;
		height: fit-content;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-textbox p {
		font-family: Roboto-Regular;
		letter-spacing: 0.5px;
		text-align: center;
	}
	
	.exercise-main-iframe {
		display: grid;
		place-items: center;
		width: 526px;
		height: 1126px;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-iframe-box {
		width: 526px;
		height: 1101px;
	}
	
	.exercise-main-iframe-box iframe {
		width: 525px;
		height: 1100px;
	}

}

@media only screen and (min-width: 801px) {

	.exercise-main {
		display: none;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
	
	.exercise-main-textbox {
		display: none;
		width: 90vw;
		height: fit-content;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-textbox p {
		font-family: Roboto-Regular;
		letter-spacing: 0.5px;
		text-align: center;
	}
	
	.exercise-main-iframe {
		display: grid;
		place-items: center;
		max-width: 75vw !important;
		min-width: 526px;
		height: 1126px;
		border-radius: 25px;
		border-width: 2px;
		border-style: solid;
		border-color: rgb(80, 80, 80);
		background-color: white;
	}
	
	.exercise-main-iframe-box {
		max-width: 75vw !important;
		min-width: 526px;
		height: 1101px;
	}
	
	.exercise-main-iframe-box iframe {
		max-width: 75vw !important;
		min-width: 525px;
		height: 1100px;
	}

}

/* 
.exercise-main {
	display: none;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.exercise-main-textbox {
	display: none;
	width: 90vw;
	height: fit-content;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(80, 80, 80);
	background-color: white;
}

.exercise-main-textbox p {
	font-family: Roboto-Regular;
	letter-spacing: 0.5px;
	text-align: center;
}

.exercise-main-iframe {
	display: grid;
	place-items: center;
	width: 376px;
	height: 1146px;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(80, 80, 80);
	background-color: white;
}

.exercise-main-iframe-box {
	width: 376px;
	height: 1121px;
}

.exercise-main-iframe-box iframe {
	width: 375px;
	height: 1120px;
}
*/
